src/test/resources/schema/sis/joint/CSMessages.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sisalertdt="http://www.europa.eu/schengen/sis/xsd/v1/types/alert" xmlns:siscsmsg="http://www.europa.eu/schengen/sis/xsd/v1/csmessages" xmlns:sisdt="http://www.europa.eu/schengen/sis/xsd/v1/types/common" xmlns:sisflagdt="http://www.europa.eu/schengen/sis/xsd/v1/types/flag" xmlns:sislinkdt="http://www.europa.eu/schengen/sis/xsd/v1/types/link" xmlns:sisnsmsg="http://www.europa.eu/schengen/sis/xsd/v1/nsmessages" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.europa.eu/schengen/sis/xsd/v1/csmessages">
<xsd:import namespace="http://www.europa.eu/schengen/sis/xsd/v1/types/flag" schemaLocation="../DataTypeDictionary/FlagDataTypes.xsd"/>
<xsd:import namespace="http://www.europa.eu/schengen/sis/xsd/v1/types/alert" schemaLocation="../DataTypeDictionary/AlertDataTypes.xsd"/>
<xsd:import namespace="http://www.europa.eu/schengen/sis/xsd/v1/types/link" schemaLocation="../DataTypeDictionary/LinkDataTypes.xsd"/>
<xsd:import namespace="http://www.europa.eu/schengen/sis/xsd/v1/types/common" schemaLocation="../DataTypeDictionary/CommonDataTypes.xsd"/>
<xsd:element name="CSAddAlertsToLink">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSAddAlertsToLinkResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSApplyDataDumpReport">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:choice>
					<xsd:element name="Request">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSApplyDataDumpReportRequest</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ReportInfo" type="sisdt:ReportRefForDataConsistencyReportType"/>
								<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
								<xsd:element name="EntityType" type="sisdt:ReportEntityType"/>
								<xsd:element minOccurs="0" name="ReportBounds">
									<xsd:complexType>
										<xsd:choice>
											<xsd:element name="AlertBounds">
												<xsd:complexType>
													<xsd:complexContent>
														<xsd:extension base="sisdt:DataDumpAlertBoundsType">
															<xsd:sequence>
																<xsd:element name="RecordType" type="sisdt:ST002_TypeOfRecordType"/>
															</xsd:sequence>
														</xsd:extension>
													</xsd:complexContent>
												</xsd:complexType>
											</xsd:element>
											<xsd:element name="LinkBounds" type="sisdt:DataDumpLinkBoundsType"/>
											<xsd:element name="BinaryBounds" type="sisdt:DataDumpBinaryBoundsType"/>
										</xsd:choice>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Report">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSApplyDataDumpReportReport </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RCI" type="sisdt:RCIType"/>
								<xsd:element name="DataDumpResults">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
											<xsd:choice>
												<xsd:element name="Alerts">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element maxOccurs="unbounded" name="Alert" type="sisalertdt:AlertRestoreType"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="Links">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element maxOccurs="unbounded" name="Link" type="sislinkdt:LinkRestoreType"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
												<xsd:element name="Binaries">
													<xsd:complexType>
														<xsd:sequence>
															<xsd:element maxOccurs="unbounded" name="Binary" type="sisalertdt:BinaryRestoreType"/>
														</xsd:sequence>
													</xsd:complexType>
												</xsd:element>
											</xsd:choice>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSApplyRestorationReport">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:choice>
					<xsd:element name="Request">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSApplyRestorationReportRequest</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ReportInfo" type="sisdt:ReportRefForDataConsistencyReportType"/>
								<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Report">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSApplyRestorationReportReport </xsd:documentation>
							<xsd:documentation>Description : This complex type will be used to identify the location of a CS-generated report, attached to a message. examples :The CS message sent to NS,  and containing the list of CUD orders to apply,  following a CS-comparison. </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RCI" type="sisdt:RCIType"/>
								<xsd:element name="RestorationReport">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
											<xsd:element minOccurs="0" name="Alerts">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" name="Alert" type="sisalertdt:AlertRestoreType"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element minOccurs="0" name="Links">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" name="Link" type="sislinkdt:LinkRestoreType"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element minOccurs="0" name="Binaries">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" name="Binary" type="sisalertdt:BinaryRestoreType"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSAttachDeletionNote">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSAttachDeletionNoteResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSBroadcast">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Broadcast">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSBroadcast. A broadcast contain both the business event that has occured and the data associated in order to maintain the NS local DB. A single event can trigger multiple actions (e.g., the closure of an alert can also trigger the update/deletion of a link).</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="Alert" type="sisalertdt:AlertBroadcastType">
								<xsd:annotation>
									<xsd:documentation>Element Description: contains the information of an alert related operation.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Link" type="sislinkdt:LinkBroadcastType">
								<xsd:annotation>
									<xsd:documentation>Element Description: contains the information of a link related operation.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Binary" type="sisalertdt:BinaryBroadcastType">
								<xsd:annotation>
									<xsd:documentation>Element Description: contains the information of a binary related operation. NB: If an alert has been closed/deleted, the deletion of the associated binaries is assumed implicit and thus won't be part of the alert broadcast message.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSChangeExpiryDateAlert">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSChangeExpiryDateResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSConsultMessageLog">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:choice>
					<xsd:element name="Response">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSConsultMessageLogResponse</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RCI" type="sisdt:RCIType"/>
								<xsd:element minOccurs="0" name="ReportID" type="sisdt:ReportIDType">
									<xsd:annotation>
										<xsd:documentation>Element Description: This entry contains the ID of the report that will be generated.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Report">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSConsultMessageLogReport </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="MetaData" type="sisdt:ReportRefType"/>
								<xsd:element name="Data">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element minOccurs="0" name="MessageLogEntries">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" name="MessageLogEntry" type="sisalertdt:RequestLogEntryReportType"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSCreateAlert">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSCreateAlertResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="PotentialIncompatibleAlerts">
								<xsd:annotation>
									<xsd:documentation>Element Description: Significant if RCI indicates success</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" name="SchengenID" type="sisdt:SchengenIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element minOccurs="0" name="AlertsPotentiallyOnSameObject">
								<xsd:annotation>
									<xsd:documentation>Element Description: Significant if RCI indicates success</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" name="SchengenID" type="sisdt:SchengenIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSCreateFlag">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSCreateFlagResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSCreateLink">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSCreateLinkResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="LinkID" type="sisdt:LinkIDType">
								<xsd:annotation>
									<xsd:documentation>Element Description: Present if RCI indicate success.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSDeleteAlert">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSDeleteAlertResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSDeleteBinaryData">
		<xsd:annotation>
			<xsd:documentation>Description: SSIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description : CSDeleteBinaryDataRequest</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSDeleteDeletionNote">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSDeleteDeletionNoteResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSDeleteFlag">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSDeleteFlagResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSDeleteLink">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSDeleteFlagResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSExecuteComplementQuery">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSExecuteComplementQueryDataResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="ComplementData">
								<xsd:annotation>
									<xsd:documentation>Description: Present if RCI indicates success.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element minOccurs="0" name="RetAlert" type="sisalertdt:ComplementQueryResultAlertType"/>
										<xsd:element minOccurs="0" name="PersonIdentities">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="unbounded" name="PersonIdentity" type="sisalertdt:PersonIdentityCoreGetQueryType"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element minOccurs="0" name="EAWs">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="unbounded" name="EAW" type="sisalertdt:EAWBaseGetType"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element minOccurs="0" name="Flags">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="unbounded" name="Flag" type="sisflagdt:FlagType"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element minOccurs="0" name="Links">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="unbounded" name="Link" type="sislinkdt:LinkComplementQueryDataType"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element minOccurs="0" name="Binaries" type="sisalertdt:BinaryDescriptionQueryType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSExecuteExtendedQuery">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:choice>
					<xsd:element name="Response">
						<xsd:annotation>
							<xsd:documentation>Message Description :CSExecuteExtendedQueryResponse</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RCI" type="sisdt:RCIType"/>
								<xsd:element minOccurs="0" name="ReportID" type="sisdt:ReportIDType">
									<xsd:annotation>
										<xsd:documentation>Element Description: This field contains the ID of the extended query result report that will be generated. </xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Report">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSExecuteExtendedQueryresultReport </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="MetaData" type="sisdt:ReportRefType"/>
								<xsd:element name="Data" type="sisalertdt:ExtendedQueryReportType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSExecuteStandardQuery">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSExecuteStandardQueryResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="HitList" type="sisalertdt:StandardQueryHitListType">
								<xsd:annotation>
									<xsd:documentation>Element Description: Present if RCI indicates success.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSExtendAlert">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSExtendAlertResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSGetNotificationSubscription">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSGetNotificationSubscriptionResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:sequence minOccurs="0">
								<xsd:element name="NotificationSubscriptions">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element maxOccurs="unbounded" name="NotificationSubscription" type="sisalertdt:AlertNotificationSubscriptionPatternType"/>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSListDataDumpReports">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Request">
					<xsd:annotation>
						<xsd:documentation>Message Description : CSListDataDumpReports</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
							<xsd:element minOccurs="0" name="Modifiers" type="sisdt:DataDumpModifierChoiceType"/>
							<xsd:element minOccurs="0" name="AlertReports">
								<xsd:annotation>
									<xsd:documentation>Element Description: Contains the list of reports for alerts with their flags.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" name="AlertReport">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="ReportId" type="sisdt:ReportIDType"/>
													<xsd:element name="RecordType" type="sisdt:ST002_TypeOfRecordType"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element minOccurs="0" name="LinkReports">
								<xsd:annotation>
									<xsd:documentation>Element Description: Contains the list of reports for links.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" name="ReportId" type="sisdt:ReportIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element minOccurs="0" name="BinaryReports">
								<xsd:annotation>
									<xsd:documentation>Element Description: Contains the list of reports for binaries.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" name="ReportId" type="sisdt:ReportIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSLoadAlertHistory">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:choice>
					<xsd:element name="Response">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSLoadAlertHistoryResponse</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RCI" type="sisdt:RCIType"/>
								<xsd:element minOccurs="0" name="ReportID" type="sisdt:ReportIDType">
									<xsd:annotation>
										<xsd:documentation>Description: This complex type contains the ID of the report that will be generated.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Report">
						<xsd:annotation>
							<xsd:documentation>Message Description : CSLoadAlertHistoryReport</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="MetaData" type="sisdt:ReportRefType">
									<xsd:annotation>
										<xsd:documentation>Description: This field contains the ID of the request get history.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="AlertHistories">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element maxOccurs="unbounded" name="AlertHistory">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="AlertHistoryEntries">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element maxOccurs="unbounded" name="AlertHistoryEntry">
																		<xsd:annotation>
																			<xsd:documentation>Description: Due to the fact that a SchengenID can be reused CSLoadAlertHistory may return more than one AlertHistory.</xsd:documentation>
																		</xsd:annotation>
																		<xsd:complexType>
																			<xsd:complexContent>
																				<xsd:extension base="sisalertdt:HistoryEntryType">
																					<xsd:sequence>
																						<xsd:element name="Alert">
																							<xsd:complexType>
																								<xsd:complexContent>
																									<xsd:extension base="sisalertdt:RetAlertLoadAlertHistoryType"/>
																								</xsd:complexContent>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:extension>
																			</xsd:complexContent>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
														<xsd:element minOccurs="0" name="ClosingDate" type="sisdt:TimestampType">
															<xsd:annotation>
																<xsd:documentation>Description: the closing date of the alert history.</xsd:documentation>
															</xsd:annotation>
														</xsd:element>
														<xsd:element minOccurs="0" name="FlagHistories">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element maxOccurs="unbounded" name="FlagHistory">
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element name="FlagHistoryEntries">
																					<xsd:complexType>
																						<xsd:sequence>
																							<xsd:element maxOccurs="unbounded" name="FlagHistoryEntry">
																								<xsd:complexType>
																									<xsd:complexContent>
																										<xsd:extension base="sisalertdt:HistoryEntryType">
																											<xsd:sequence>
																												<xsd:element name="Flag" type="sisflagdt:FlagType"/>
																											</xsd:sequence>
																										</xsd:extension>
																									</xsd:complexContent>
																								</xsd:complexType>
																							</xsd:element>
																						</xsd:sequence>
																					</xsd:complexType>
																				</xsd:element>
																				<xsd:element minOccurs="0" name="ClosingDate" type="sisdt:TimestampType">
																					<xsd:annotation>
																						<xsd:documentation>Description: the closing date of the alert history.</xsd:documentation>
																					</xsd:annotation>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSLoadBinaryData">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSLoadBinaryDataResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Description: Present if RCI indicates success.</xsd:documentation>
								</xsd:annotation>
								<xsd:element name="BinaryData" type="sisalertdt:PictureDataType"/>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSLoadEAW">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSLoadEAWResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="EAW" type="sisalertdt:EAWGetType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSLoadLink">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSLoadLinkResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="Link">
								<xsd:annotation>
									<xsd:documentation>Element Description: Present if RCI indicates success.</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="InputDate" type="sisdt:TimestampType">
											<xsd:annotation>
												<xsd:documentation>Element Description: The date when the link was stored for the first time. This field will be filled by the central system.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element name="LastModificationDate" type="sisdt:TimestampType">
											<xsd:annotation>
												<xsd:documentation>Element Description: Date of the last change of the link. This field will be filled by the central system.</xsd:documentation>
											</xsd:annotation>
										</xsd:element>
										<xsd:element minOccurs="0" name="LinkNationalReference" type="sisdt:LinkNationalReferenceType"/>
										<xsd:element name="Alerts">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="unbounded" name="Alert">
														<xsd:complexType>
															<xsd:complexContent>
																<xsd:extension base="sisalertdt:RetAlertLoadType">
																	<xsd:sequence>
																		<xsd:element minOccurs="0" name="LinkReferences">
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element maxOccurs="unbounded" name="LinkReference" type="sislinkdt:LinkNationalReferenceIDType"/>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																		<xsd:element minOccurs="0" name="Flag">
																			<xsd:complexType>
																				<xsd:sequence>
																					<xsd:element name="RequestingCountry" type="sisdt:ST001_RequestingUserType">
																						<xsd:annotation>
																							<xsd:documentation>Element Description: may not be the owner of the alert witch this flag belongs to</xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																					<xsd:element minOccurs="0" name="AlternativeActionToBeTaken" type="sisdt:ST105_ActionToBeTakenType">
																						<xsd:annotation>
																							<xsd:documentation>Element Description: This attribute contains the definition of the action which should be taken if the wanted person/object is catched. The national system can define that the action to be taken shall be filtered (hidden to the accessing user) later on by not providing any alternativeActionToBeTaken </xsd:documentation>
																						</xsd:annotation>
																					</xsd:element>
																				</xsd:sequence>
																			</xsd:complexType>
																		</xsd:element>
																	</xsd:sequence>
																</xsd:extension>
															</xsd:complexContent>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSLoadLinkHistory">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:choice>
					<xsd:element name="Response">
						<xsd:annotation>
							<xsd:documentation>Message Description: CSLoadLinkHistoryResponse</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RCI" type="sisdt:RCIType"/>
								<xsd:element minOccurs="0" name="ReportID" type="sisdt:ReportIDType">
									<xsd:annotation>
										<xsd:documentation>Description: This complex type contains the ID of the report that will be generated.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Report">
						<xsd:annotation>
							<xsd:documentation>Message Description: CSLoadLinkHistoryReport</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="MetaData" type="sisdt:ReportRefType">
									<xsd:annotation>
										<xsd:documentation>Element Description: This field contains the ID of the request get history.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="LinkHistory">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="LinkHistoryEntries">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" name="LinkHistoryEntry">
															<xsd:complexType>
																<xsd:complexContent>
																	<xsd:extension base="sisalertdt:HistoryEntryType">
																		<xsd:sequence>
																			<xsd:element name="LinkID" type="sisdt:LinkIDType">
																				<xsd:annotation>
																					<xsd:documentation>Description: Unique identifier of the given link.</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element minOccurs="0" name="LinkNationalReference" type="sisdt:LinkNationalReferenceType"/>
																			<xsd:element name="LinkedAlerts">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element maxOccurs="unbounded" minOccurs="2" name="SchengenID" type="sisdt:SchengenIDType"/>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																			<xsd:element name="InputDate" type="sisdt:TimestampType">
																				<xsd:annotation>
																					<xsd:documentation>Element Description: The date when the data was stored for the first time. This field will be filled by the central system.</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																			<xsd:element name="LastModificationDate" type="sisdt:TimestampType">
																				<xsd:annotation>
																					<xsd:documentation>Element Description: Date of the last change of the data. This field will be filled by the central system.</xsd:documentation>
																				</xsd:annotation>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:extension>
																</xsd:complexContent>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
											<xsd:element minOccurs="0" name="ClosingDate" type="sisdt:TimestampType">
												<xsd:annotation>
													<xsd:documentation>Description: the closing date of the link history.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
											<xsd:element name="AlertHistories">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" minOccurs="2" name="AlertHistory">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:element name="AlertHistoryEntries">
																		<xsd:complexType>
																			<xsd:sequence>
																				<xsd:element maxOccurs="unbounded" name="AlertHistoryEntry">
																					<xsd:complexType>
																						<xsd:complexContent>
																							<xsd:extension base="sisalertdt:HistoryEntryType">
																								<xsd:sequence>
																									<xsd:element name="Alert" type="sisalertdt:RetAlertLoadLinkHistoryType"/>
																								</xsd:sequence>
																							</xsd:extension>
																						</xsd:complexContent>
																					</xsd:complexType>
																				</xsd:element>
																			</xsd:sequence>
																		</xsd:complexType>
																	</xsd:element>
																	<xsd:element minOccurs="0" name="ClosingDate" type="sisdt:TimestampType">
																		<xsd:annotation>
																			<xsd:documentation>Description: the closing date of the link history.</xsd:documentation>
																		</xsd:annotation>
																	</xsd:element>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSNotification">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Notification">
					<xsd:annotation>
						<xsd:documentation>CSNotification</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:choice>
							<xsd:element name="Alert" type="sisalertdt:AlertNotificationType"/>
							<xsd:element name="Flag" type="sisflagdt:FlagNotificationType"/>
							<xsd:element name="DataConsistency" type="sisalertdt:DCNotificationType"/>
							<xsd:element name="ReportReady" type="sisalertdt:ReportNotificationGetType"/>
							<xsd:element name="ReportAndStatisticsReady" type="sisdt:ReportAndStatisticNotificationType"/>
							<xsd:element name="Error">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="RCI" type="sisdt:RCIType"/>
										<xsd:element maxOccurs="unbounded" name="MessageID" type="sisdt:MessageIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="BroadcastRejected">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="UBN" type="sisdt:UBNType"/>
										<xsd:choice>
											<xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
											<xsd:element name="LinkID" type="sisdt:LinkIDType"/>
											<xsd:element name="Binary">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
														<xsd:element name="BinaryID" type="sisalertdt:BinaryIDType"/>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:choice>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="DataDumpReportsReady">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:choice>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSPerformExtraction">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Request">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSPerformExtractionRequest</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CampaignMetaData" type="sisalertdt:CampaignMetaDataType"/>
							<xsd:element name="TrackingID" type="sisdt:TrackingIDType">
								<xsd:annotation>
									<xsd:documentation>Element Description : ComparisonCSMetaData includes additional meta data provided for a comparison issued by a CS</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="DiscreteModifier">
								<xsd:complexType>
									<xsd:choice>
										<xsd:element name="IDsToCompare">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="unbounded" name="IdToCompare">
														<xsd:complexType>
															<xsd:choice>
																<xsd:element name="LinkID" type="sisdt:LinkIDType"/>
																<xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
															</xsd:choice>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="BinaryIDsToCompare">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element maxOccurs="unbounded" name="BinaryIdToCompare" type="sisdt:CommonBinaryIDType"/>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:choice>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSPerformSnapshot">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Request">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSPerformSnapshotRequest</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="CampaignMetaData" type="sisalertdt:CampaignMetaDataType"/>
							<xsd:element name="TrackingID" type="sisdt:TrackingIDType">
								<xsd:annotation>
									<xsd:documentation>Element Description : ComparisonCSMetaData includes additional meta data provided for a comparison issued by a CS</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element minOccurs="0" name="ComparisonModifier">
								<xsd:complexType>
									<xsd:choice>
										<xsd:element name="QualifierModifier" type="sisdt:QualifierModifierType"/>
										<xsd:element name="DiscreteModifier">
											<xsd:complexType>
												<xsd:choice>
													<xsd:element name="IDsToCompare">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="unbounded" name="IdToCompare">
																	<xsd:complexType>
																		<xsd:choice>
																			<xsd:element name="LinkID" type="sisdt:LinkIDType"/>
																			<xsd:element name="SchengenID" type="sisdt:SchengenIDType"/>
																		</xsd:choice>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
													<xsd:element name="BinaryIDsToCompare">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element maxOccurs="unbounded" name="BinaryIdToCompare" type="sisdt:CommonBinaryIDType"/>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:choice>
											</xsd:complexType>
										</xsd:element>
									</xsd:choice>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="ReferenceUBN" type="sisdt:UBNType">
								<xsd:annotation>
									<xsd:documentation>Element Description : The current value of the UBN counter in the Central system.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSProcessComparisonResults">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:choice>
					<xsd:element name="Request">
						<xsd:annotation>
							<xsd:documentation>Message Description: CSProcessComparisonResultsRequest</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="ReportInfo" type="sisdt:ReportRefForDataConsistencyReportType"/>
								<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="Report">
						<xsd:annotation>
							<xsd:documentation>Message Description: CSProcessComparisonResultsReport </xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="RCI" type="sisdt:RCIType"/>
								<xsd:element name="Data">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
											<xsd:element minOccurs="0" name="ComparisonResultsEntries">
												<xsd:complexType>
													<xsd:sequence>
														<xsd:element maxOccurs="unbounded" name="CMP">
															<xsd:complexType>
																<xsd:sequence>
																	<xsd:sequence>
																		<xsd:element name="ST" type="sisdt:ST119_ComparisonEntryStatusType">
																			<xsd:annotation>
																				<xsd:documentation>Element Description: CThe status of the comparison.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																		<xsd:element name="CTGY" type="sisdt:ST120_EntityDiscrepancyCategoryType">
																			<xsd:annotation>
																				<xsd:documentation>Element Description: The category of the entity discrepancy.</xsd:documentation>
																			</xsd:annotation>
																		</xsd:element>
																	</xsd:sequence>
																	<xsd:choice>
																		<xsd:element name="CMPA" type="sisalertdt:ComparisonResultsAlertType"/>
																		<xsd:element name="CMPL" type="sislinkdt:ComparisonResultsLinkType"/>
																		<xsd:element name="CMPB" type="sisalertdt:ComparisonResultsBinaryType"/>
																	</xsd:choice>
																</xsd:sequence>
															</xsd:complexType>
														</xsd:element>
													</xsd:sequence>
												</xsd:complexType>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSQueryMultipleIncompatibleAlerts">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSQueryMultipleIncompatibleAlertsResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:sequence minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Element Description: Present if RCI indicates success.</xsd:documentation>
								</xsd:annotation>
								<xsd:element minOccurs="0" name="PotentialIncompatibleMultipleAlerts">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element maxOccurs="unbounded" name="SchengenID" type="sisdt:SchengenIDType">
												<xsd:annotation>
													<xsd:documentation>.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
								<xsd:element minOccurs="0" name="alertsPotentiallyOnSameObject">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element maxOccurs="unbounded" name="SchengenID" type="sisdt:SchengenIDType">
												<xsd:annotation>
													<xsd:documentation>.</xsd:documentation>
												</xsd:annotation>
											</xsd:element>
										</xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSRemoveAlertsFromLink">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSRemoveAlertsToLinkResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="LinkID" type="sisdt:LinkIDType">
								<xsd:annotation>
									<xsd:documentation>Only present if RCI indicates success and if the link has been automatically deleted (when less than two alerts remaining in the link).</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSRequestComparison">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSRequestComparisonResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="TrackingID" type="sisdt:TrackingIDType">
								<xsd:annotation>
									<xsd:documentation>Element Description: Present if RCI indicates success.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSScheduleDataDump">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description : CSScheduleDataDumpResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element name="TrackingID" type="sisdt:TrackingIDType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSSubscribeNotification">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSSubscribeNotificationResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSUnsubscribeNotification">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSUnsubscribeNotificationResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSUpdateAlert">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSUpdateAlertResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
							<xsd:element minOccurs="0" name="PotentialIncompatibleAlerts">
								<xsd:annotation>
									<xsd:documentation>Element Description: Significant if RCI indicates success</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" name="SchengenID" type="sisdt:SchengenIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element minOccurs="0" name="AlertsPotentiallyOnSameObject">
								<xsd:annotation>
									<xsd:documentation>Element Description: Significant if RCI indicates success</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element maxOccurs="unbounded" name="SchengenID" type="sisdt:SchengenIDType"/>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
<xsd:element name="CSUpdateFlag">
		<xsd:annotation>
			<xsd:documentation>Description: SIS Messages issued by the Central System.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="sisdt:HeaderType"/>
				<xsd:element name="Response">
					<xsd:annotation>
						<xsd:documentation>Message Description: CSUpdateFlagResponse</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="RCI" type="sisdt:RCIType"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
